/* stylelint-disable selector-pseudo-class-no-unknown, selector-max-compound-selectors */

@import './var';

.width_limiter {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 980px;
    padding: 0;
}

%ellipsis,
.ellipsis {
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.disable_user_event {
    pointer-events: none;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

%scrollable,
.scrollable {
    display: block;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: #c1c1c1 #f1f1f1;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        background-color: #f1f1f1;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
        border-radius: 2px;
    }
}

/*
%user-active,
.user_active {
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }
}
*/
